* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropDown {
  border: 2px solid rgb(84, 84, 223);
  appearance: none;
}
.page {
  max-width: 900px;
  width: 100%;
  margin: 20 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.breed-selector {
  background-color: rgb(224, 216, 216);
  padding: 10px;
}
.dog-button {
  padding: 6px;
  border-radius: 3px;
  background-color: rgb(75, 75, 251);
  font-size: 15px;
  color: white;
  border: none;
  
}



.image {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin-bottom: 20px;
}


